body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 1em;
}

.footer {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 1em;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.sidebar {
  background-color: #f4f4f4;
  padding: 1em;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Center content vertically */
}

.resizer {
  width: 5px;
  background-color: #ccc;
  cursor: ew-resize;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

.sidebar nav {
  margin-top: 75%; /* Push content 3/4 up from the bottom */
  text-align: center; /* Center text horizontally */
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin: 0.5em 0;
}

.sidebar a {
  text-decoration: none;
  color: black;
}
.main-content {
  margin-left: 220px;
  padding: 1em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}