body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 1em;
}

.footer {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 1em;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.sidebar {
  background-color: #f4f4f4;
  padding: 1em;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Center content vertically */
}

.resizer {
  width: 10px;
  background-color: #ccc;
  cursor: ew-resize;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

.sidebar nav {
  flex-grow: 1; /* Push content to the bottom */
  text-align: center; /* Center text horizontally */
  justify-content: flex-end; /* Align content to the bottom */
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin: 0.5em 0;
}

.sidebar a {
  text-decoration: none;
  color: black;
}
.main-content {
  margin-left: 220px;
  padding: 1em;
  overflow: auto;
  flex-grow: 1;
}

.question-navigation {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the buttons and question */
}

.question {
  flex-grow: 1;
  text-align: center;
  margin: 0 1em; /* Add margin to space out the question from the buttons */
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
  margin: 0 0.5em; /* Add margin to bring buttons closer together */
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}